@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0B0F19;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-moffi-green: #86EFAC;
  --color-moffi-light: #F0FDF4;
  --color-moffi-primary: #22C55E;
  --color-moffi-text: #1F2937;
  --color-moffi-gray: #6B7280;
  --color-moffi-orange: #FDBA74;
  --color-moffi-purple: #D8B4FE;
  --color-moffi-blue: #93C5FD;

  --color-moffi-purple-dark: #6A5ACD;
  --color-mint: #CFFFE5;
  --color-pink: #FFE6F2;
  --color-soft-gray: #F5F6FA;

  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.5s ease, color 0.5s ease;
}